<app-navbar [UserName]="username" [IsUser]="isUser"></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">User Id</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" (input)="filterUserid($event)"></td>
                        <td><input type="text" (input)="filterUsername($event)"></td>
                        <td><input type="email" (input)="filterEmail($event)"></td>
                        <td><input type="number" (input)="filterPhone($event)"></td>
                        <td></td>
                    </tr>
                    <ng-container *ngFor="let user of users">
                        <tr>
                            <td>{{ user[0] }}</td>
                            <td>{{ user[1] }}</td>
                            <td>{{ user[2] }}</td>
                            <td>{{ user[4] }}</td>
                            <td><button [disabled]="isUser" class="btn btn-success"
                                    (click)="gotoEdit(user[1])">Edit</button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>