<div class="container" style="padding-top: 30px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 shadow" style="border: 1px solid gray; padding: 20px;">
            <p style="text-align: center; color: brown; font-size: 30px;">Login</p>
            <form [formGroup]="loginForm" (ngSubmit)="submit()" style="margin-bottom: 10px;">
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Username / Email</span>
                    </div>
                    <input type="text" formControlName="user" class="form-control" placeholder="Your Username or Email address">
                </div>
                <div *ngIf="user.invalid && (user.dirty || user.touched)" class="alert alert-danger">
                    <div *ngIf="user.errors.required">
                        Username or Email is required.
                    </div>
                </div>
                
                <div class="input-group flex-nowrap mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Password</span>
                    </div>
                    <input type="password" formControlName="password" class="form-control" placeholder="Your Password">
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                        Password is required.
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
            </form>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="error.length>0" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <span routerLink='/signup'>Don't have account, <span style="color: black; font-weight: bold;">Register Here</span></span>
        </div>
        <div class="col-3"></div>
    </div>
</div>